version: "3"
services:
  harmonie-grib:
    image: ghcr.io/sensingclues/harmonie-grib:latest
    restart: unless-stopped
    volumes:
      - /deploy/data/harmonie-grib/data/:/data
    environment:
      - KNMI_API_KEY=${KNMI_API_KEY}
      - DATASET_ID=43
      - DATASET_PRODUCT=3
      - DATASET_VERSION=1.0
      - DELETE_OLD_FILES=1
      - TYPE_OF_LEVEL=isobaricInhPa
      - VALUE_OF_LEVEL=925
      - HOUR_MAX=14
    labels:
      - com.centurylinklabs.watchtower.enable=${AUTO_DEPLOY:-false}
